@charset "utf-8";
/* CSS Document */
h2{font:bold 15px/30px Arial, "微軟正黑體", "新細明體"; color:#de1e19; margin:0;}

.tbn{height:368px; padding:15px 5px;position: relative; margin-bottom:8px;}
.navArea { position: absolute; left: 5px; bottom: 0;_bottom:10px;}
.tbn .nav{width:245px; float: left; margin:0; }
.tbn .nav .title{ display:block; width:250px; height:65px;}
.tbn .nav{ height:65px;}
.tbn .nav .title{text-indent: -9999px;display:block; width:245px; height:65px; }
.tbn .nav .sab{ width:150px; display: none;position: relative;}
.tbn .nav .sab ul{ position: absolute; bottom:0px;left:50px;}
.tbn .nav.over .sab{ display: block;}
.tbn .sab li a{display:block; width:150px;text-indent: -9999px; height:30px; width:150px;}
.tbn .nav01 li.a01 a{ background:url(../images/bn_nav_sec01.png) no-repeat;_background:url(../images/bn_nav_sec01.gif) no-repeat; }
.tbn .nav01 li.a02 a{ background:url(../images/bn_nav_sec02.png) no-repeat;_background:url(../images/bn_nav_sec02.gif) no-repeat; }
.tbn .nav01 li.a03 a{ background:url(../images/bn_nav_sec03.png) no-repeat;_background:url(../images/bn_nav_sec03.gif) no-repeat;}
.tbn .nav02 li.a01 a{ background:url(../images/bn_nav_sec01.png) no-repeat;_background:url(../images/bn_nav_sec01.gif) no-repeat; }
.tbn .nav02 li.a02 a{ background:url(../images/bn_nav_sec02.png) no-repeat;_background:url(../images/bn_nav_sec02.gif) no-repeat; }
.tbn .nav04 li.a01 a{ background:url(../images/bn_nav_sec01.png) no-repeat;_background:url(../images/bn_nav_sec01.gif) no-repeat; }
.tbn .nav04 li.a02 a{ background:url(../images/bn_nav_sec02.png) no-repeat;_background:url(../images/bn_nav_sec02.gif) no-repeat; }
.tbn .sab li a:hover{background-position: 0 -30px;}

.tbn .nav01 .title{ background:url(../images/bn_nav04.gif) no-repeat;}
.tbn .nav02 .title{ background:url(../images/bn_nav05.gif) no-repeat;}
.tbn .nav03 .title{ background:url(../images/bn_nav06.gif) no-repeat;}
.tbn .nav04 .title{ background:url(../images/bn_nav07.gif) no-repeat;}
.tbn .nav.over .title{background-position: 0 -65px;}


.tbn .mask_l{ background:url(../images/banner_mask_l.gif) no-repeat; width:9px; height:9px; position:absolute; bottom:0; left:5px; _top:386px;}
.tbn .mask_r{ background:url(../images/banner_mask_r.gif) no-repeat; width:9px; height:9px; position:absolute; top:15px; right:15px;}

.t_serch{ margin-top:10px;}
.t_serch img{ margin-bottom:10px;}

.larea{width:125px; margin-right:8px;_margin-right:2px; float:left; height:100%; padding-left:10px;}
.marea{ width:830px; _width:830px; ; _margin-right:2px; float:left; position:relative; }

.marea .top{ background:url(../images/reset_bg_top02.jpg) no-repeat; height:40px;}
.marea .top h2{ padding-left:26px; line-height:40px;}
.marea .middle{ background:url(../images/reset_bg_middle02.jpg) repeat-y; float:left; width:800px; padding:5px 10px 5px 20px; }
.marea .below{ background:url(../images/reset_bg_below02.jpg) no-repeat; height:15px; float:left; width:830px;}


.set{ margin-bottom:15px;}
.setbox{padding:15px 0px 0px 45px;}
.setbox .box{ line-height:20px; width:140px; height:145px; display:block; overflow:hidden; position:relative; margin:0px 46px 25px 0px;  float:left; _margin:6px 46px 10px 0px;}
.setbox .box .last{margin:0 0 10px 0;}
.setbox .box h3{text-align:center; font-size:13px; font-weight:bold;/* margin-top:1px;_margin-top:0px;*/}
.setbox .box p{ text-align:center; font-size:13px; margin:8px 0 0 0; _margin:0;}
.setbox .mask_l{ background:url(../images/banner_mask_l.gif) no-repeat; width:9px; height:9px; position:absolute; top:91px; left:0;}
.setbox .mask_r{ background:url(../images/banner_mask_r.gif) no-repeat; width:9px; height:9px; position:absolute; top:0; right:0;}



.case{text-align:center; position:relative;padding-top:20px;}
.case .mask_l{ background:url(../images/banner_mask_l.gif) no-repeat; width:9px; height:9px; position:absolute; top:91px; left:0px;}
.case .mask_r{ background:url(../images/banner_mask_r.gif) no-repeat; width:9px; height:9px; position:absolute; top:0; right:0;}
